/SDK/
/__xps/
/bootloops/
/hdl/
/implementation/
/synthesis/
/etc/*.filters
/etc/*.gui
_impactbatch.log
bitinit.log
clock_generator_0.log
platgen.log
platgen.opt
system.log
system.make
system_incl.make
system.bsb
XpsGuiSessionLock
psf2Edward.log
system.log.bak
xdsgen.log
